.container {
  display: flex;
  @media only screen and (max-width: 800px) {
    display: block;
  }
}
.column-chart-testings {
  max-width: 600px;
  @media only screen and (max-width: 800px) {
    max-width: 100%;
  }
}
#states {
  display: block;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.subtitle {
  position: absolute;
  z-index: 999;
  margin-top: 55px;
  margin-left: 105px;
  width: 315px;
  @media only screen and (max-width: 400px) {
    margin-top: 60px;
    width: 150px;
  }
}
